* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
}
/* Basic Style */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 2.5rem;
  z-index: 100;
}

.btn {
  padding: 0.25rem 0.75rem;
  border: none;
}
/* Header */
.main-header {
  background: #0c0c0c;
  height: 50px;
  color: #fff;
  white-space: nowrap;
}

.main-header .container {
  display: flex;
}
.nav-left,
.nav-right,
.main-nav ul {
  display: flex;
  align-items: center;
}

.main-nav li {
  margin-left: 0.5rem;
  border-right: 1px solid #595959;
  padding-right: 0.5rem;
  text-transform: capitalize;
}

.main-nav li:last-child {
  border-right: none;
}

.main-nav a {
  color: rgb(191, 191, 191);
  font-size: 0.95rem;
  letter-spacing: 1;
}

.main-nav a:hover {
  color: #fff;
}

.page-search {
  display: flex;
  align-items: center;
}
.nav-right .search,
.nav-right .hamburger {
  width: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}
.nav-left {
  margin-right: auto;
}

.page-search {
  position: relative;
}
.page-search-field {
  width: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 1rem;
  padding: 0.2rem;
  font-weight: 300;
  transition: 0.5s ease;
}

.search-field-label {
  position: absolute;
  top: 5px;
  right: 40px;
  color: #000;
  background: transparent;
  width: 100px;
  display: flex;
  align-items: center;
  display: none;
}

.search-field-label::after {
  content: " -->";
}

.search-field-label.show {
  display: block;
}
.page-search-field.show {
  visibility: visible;
  width: 960px;
}
.international-edition {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.international-edition label[for="international-switcher"] {
  cursor: pointer;
}
.international-block {
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.9);
  color: rgb(191, 191, 191);
  display: flex;
  flex-direction: column;
  font-weight: 300;
  left: -4rem;
  padding: 0.5rem 2rem;
  position: absolute;
  top: 50px;
  width: 250px;
  display: none;
}

.international-block.show {
  display: block;
}

.international-block li {
  text-align: right;
}

.international-block a {
  color: rgb(191, 191, 191);
}

.international-block hr {
  border: none;
  background: transparent;
  border: 1px solid #bfbfbf;
  width: 100%;
  margin-bottom: 1rem;
}
.international-block li,
.international-block input,
.international-block label,
.international-block p {
  margin-bottom: 1rem;
}

.international-block .row-block:nth-of-type(2) {
  padding-bottom: 1rem;
}

.flex-block {
  display: flex;
}

.row-block.flex-block {
  justify-content: space-between;
}
.row-block.flex-block label:nth-of-type(1) {
  margin-right: 3rem;
}

.confirm {
  background: transparent;
  color: inherit;
  text-transform: capitalize;
  border: 1px solid #bfbfbf;
  font-size: 0.9rem;
  margin-left: auto;
}

.header-expanded-menu-block {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 50px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}

.header-expanded-menu-block hr {
  display: none;
}
.header-expanded-menu-block.show {
  display: block;
}
.header-expanded-menu-block a,
.page-footer a {
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s ease;
}

.header-expanded-menu-block h3,
.page-footer h3 {
  font-weight: 900;
  font-size: 1.125rem;
  margin: 0.2rem 0;
  text-transform: capitalize;
  transition: 0.5s ease;
  color: #fff;
}

.header-expanded-menu-block h3:hover,
.header-expanded-menu-block a:hover,
.page-footer h3:hover,
.page-footer a:hover {
  text-decoration: underline;
}

.header-expanded-menu-block ul,
.page-footer ul {
  display: none;
}
.header-expanded-menu-block li,
.page-footer li {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.header-expanded-menu-block .grid,
.page-footer .grid {
  width: 100%;
  text-align: center;
}

.bottom-block .container {
  display: flex;
  justify-content: center;
}

.bottom-block .social-footer {
  display: flex;
  align-items: center;
}

/* .bottom-block .bottom-footer {
  margin-left: auto;
} */
.bottom-block .bottom-footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-block .bottom-footer p {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 900;
  border-top: 1px solid #fff;
  display: inline;
  padding-top: 2rem;
}
.social-footer img {
  width: 1.3rem;
  margin: 0 0.5rem;
}

/* footer */
.page-footer {
  background: #0c0c0c;
}

.page-footer .footer-top-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-footer .footer-weather {
  color: #fff;
  display: flex;
  align-items: center;
}

.page-footer .footer-weather p {
  white-space: nowrap;
}

.page-footer .weather-icon {
  width: 2rem;
  margin: 0 0.5rem;
}

.page-footer .search-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.page-footer .search-block label {
  position: relative;
  right: 5rem;
  font-weight: bold;
}

.page-footer .search-block label::after {
  content: "->";
  margin-left: 0.5rem;
}
.page-footer .search {
  padding: 8px;
  width: 100%;
  margin: 1rem 0;
  border: 0;
  font-size: 1rem;
  outline: none;
}

.page-footer hr {
  margin-top: 2rem;
}
.page-footer .bottom-footer {
  display: flex;
  justify-content: center;
}

.page-footer .bottom-footer p {
  border-top: none;
  line-height: 2rem;
  color: #fff;
}
.page-footer .bottom-footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer .copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.page-footer .copyright li {
  line-height: 1.5rem;
}
.page-footer .copyright a {
  margin-right: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  text-transform: capitalize;
}

.page-footer .copyright a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header-expanded-menu-block .grid,
  .page-footer .grid {
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    text-align: left;
    padding: 0 1rem;
  }

  .header-expanded-menu-block h3,
  .page-footer h3 {
    margin: 0.9rem 0;
    font-weight: 900;
  }
  .header-expanded-menu-block ul,
  .page-footer ul {
    display: initial;
  }

  .header-expanded-menu-block hr {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
  .bottom-block .container {
    justify-content: flex-end;
  }

  .bottom-block .bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bottom-block .bottom-footer p:first-child {
    margin-bottom: 0;
    border-top: none;
    padding-top: 0;
    border-right: 1px solid #fff;
    padding-right: 1rem;
  }

  .bottom-block .social-footer {
    margin-left: 1rem;
  }

  .page-footer .footer-top-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer .search-block {
    width: 70%;
  }
  .page-footer .search {
    width: 90%;
  }

  .page-footer hr {
    display: none;
  }
  .page-footer .logo {
    margin-right: auto;
  }

  .page-footer .bottom-footer {
    width: 100%;
    margin-top: 1rem;
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #fff;
  }
  .page-footer .bottom-footer > div {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .header-expanded-menu-block .grid,
  .page-footer .grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem 3rem;
  }
}
